# Python 虚拟环境
.venv/
venv/
env/

# Python 字节码和缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据库文件
*.db
*.sqlite3

# 环境变量和敏感信息
# .env
# *.env

# IDE 和编辑器文件
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# 其他临时文件
*.log
*.pid
*.seed